<template>
<footer class="footer">
  <div class="container">
    <span class="text-muted">АПТЕКА 149 - СЕТЬ СОЦИАЛЬНЫХ АПТЕК ©2018</span>
  </div>
</footer>
</template>

<script>
export default {}
</script>
