<template>
<div class="container">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1>Поиск лекарств</h1>
    <form id="search" class="mt-5">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <input @input="searchEvent" @change="searchEvent" class="form-control form-control-lg" type="text" placeholder="Введите название">
        </div>
      </div>
    </form>
  </div>
    <div id="searchResult" style="display:none" class="mt-5 col-lg-12">
      <div class="table-responsive-xs">
        <table class="table table-hover" >
          <thead class="thead-light">
            <tr>
              <th class="text-left" scope="col">Номенклатура</th>
              <th scope="col">Аптека</th>
              <th scope="col">Остаток</th>
              <th scope="col">Цена</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="pill in medicines" :key="pill.id">
              <td class="text-left">{{ pill.title }}</td>
              <td>{{ pill.pharmacy__title }}</td>
              <td>{{ pill.balance }}</td>
              <td>{{ pill.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
</template>

<script>
import axios from 'axios'
import {urlApi} from '../const/index.js'

const url = urlApi + 'search/'

export default {
  name: 'Home',
  data () {
    return {
      medicines: [],
      searchText: ''
    }
  },
  methods: {
    searchEvent ({ type, target }) {
      if (target.value.length > 3) {
        document.getElementById('searchResult').style.display = 'block  '
        var textStr = target.value
        axios.get(url + '?q=' + textStr.toUpperCase())
          .then(response => {
            this.medicines = response.data
          })
          .catch(e => {
            this.errors.push(e)
          })
      } else {
        document.getElementById('searchResult').style.display = 'none'
      }
    }
  }
}
</script>
