<template>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">АПТЕКА 149</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <router-link to="/" class="p-2 text-dark">Розница</router-link>
        <router-link to="/pages/about_us/" class="p-2 text-dark">Опт</router-link>
        <router-link to="/pages/contacts/" class="p-2 text-dark">Контакты</router-link>
      </nav>
    </div>
</template>

<script>
export default {
  name: 'Navbar'
}
</script>
