<template>
    <div class="container">
        <div v-html="page.data.body"></div>
    </div>
</template>

<script>
import axios from 'axios'
import { urlApi } from '../const/index.js'

const url = urlApi + 'api/v1'
export default {
  name: 'Page',
  watch: {
    '$route' (to, from) {
      this.$router.go(to.fullPath)
    }
  },
  data () {
    return {
      page: null
    }
  },
  mounted () {
    axios
      .get(url + this.$route.path)
      .then(response => (this.page = response))
  }
}
</script>
