<template>
  <div>
    <navbar></navbar>
    <router-view></router-view>
    <footer-bottom></footer-bottom>
  </div>
</template>

<script>
import Home from './components/Home'
import Navbar from './components/Navbar'
import FooterBottom from './components/FooterBottom'

export default {
  name: 'App',
  components: {
    Home,
    Navbar,
    FooterBottom
  }
}
</script>
